name: Deploy
on:
    workflow_dispatch:
    workflow_run:
        workflows: [Build]
        types: [completed]
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v5
              with:
                  persist-credentials: false

            - name: Setup Java
              uses: actions/setup-java@v5
              with:
                  distribution: jetbrains
                  java-version: 21

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 20

            - name: Run Linters and Tests
              if: ${{ github.event_name != 'workflow_run' }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              shell: bash
              run: ./gradlew check

            - name: Verify Plugin Structure
              if: ${{ github.event_name != 'workflow_run' }}
              shell: bash
              run: ./gradlew verifyPluginProjectConfiguration

            - name: Run Plugin Verifier
              if: ${{ github.event_name != 'workflow_run' }}
              shell: bash
              run: ./gradlew verifyPlugin

            - name: "Install Dependencies"
              shell: bash
              run: |
                  npm i -g \
                    semantic-release@23 \
                    @semantic-release/exec@6 \
                    @semantic-release/git@10 \
                    @semantic-release/changelog@6 \
                    @google/semantic-release-replace-plugin@1 \
                    conventional-changelog-conventionalcommits@7.0.2

            - name: "Deploy"
              shell: bash
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  GIT_AUTHOR_NAME: appland-release
                  GIT_AUTHOR_EMAIL: release@app.land
                  GIT_COMMITTER_NAME: appland-release
                  GIT_COMMITTER_EMAIL: release@app.land
              run: semantic-release --debug
